.rowMedia{
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid 2px #ff0000;
  background-color: #000000;
  border-radius: 3px;
}

.col-25{
  text-align: center;
  background-color: #fff;
  color: #000000;
  width: 50vw;
  margin: 1vh auto;
  padding: 2vh 0;
  font-size: 1.5rem;
  border-radius: 5px;

}